$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$color1: black;
$color2: white;

@mixin input(){
    margin: 20px;
width: 250px;
height: 30px;
text-align:center;
}

.suscribirse{
    text-align: center;
    font-family: $font;
    font-size: 15px;
    .boton{
        background-color: $color1;
        border-radius: 5px;
        text-decoration: none;
        bottom: 0;
        color: $color2;
        padding: 8px;
    }
    input{
        @include input();
    }
}