.suscribirse{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.suscribirse .boton{
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    bottom: 0;
    color: white;
    padding: 8px;
}

.suscribirse input{
    margin: 20px;
    width: 250px;
    height: 30px;
    text-align:center ;
}