$font:Arial, Helvetica, sans-serif;
$font2:sans-serif;
$size:50px;
$color1: green;
$color2:blue;
$color3:black;
$borde: 2px solid black;
$text: center;

@mixin texto(){
    margin: 20px;
    width: 250px;
    height: 30px;
    text-align:center ;
}
@mixin estilo (){
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
@mixin encabezado (){
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
}

.form{
    text-align: $text;
    input{
        @include texto();
    }
}
#formulario{
    h3{
        font-family: $font;
        @include estilo();
        font-size: $size;
    }
}

h4{
    color: $color1;
    border:$borde;
    font-family: $font;
    @include encabezado();
}
.whatsapp{
    a{
        text-decoration: none;
        display: block;
        text-align: $text;
        color:$color2;
        font-size: 30px;
        font-family: $font2;
        margin-bottom: 20px;
        font-weight: bold;
        &:hover{
            color: $color3;
        }
    }
}