.horario-inicio{
    text-align: center;
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
.accordion{
    text-align: center;
}
.horario-1{
    margin-top: 35px;
}
.mapa-responsive {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.mapa-responsive iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}