.horario-inicio{
    text-align: center;
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
.accordion{
    text-align: center;
}
.horario-1{
    margin-top: 35px;
}